*{font-family: 'M PLUS Rounded 1c', sans-serif;
margin:0px;
padding:0px;
}

.container-principal{
	width: 1150px;
	margin:auto;
}

.div1{display:flex;
	justify-content:space-between;
	align-items:baseline;
}

img{width:200px;
	height: auto;
}


.div2 {display:flex;
	flex-direction:row;
	bottom:20px;

}

.nav1
{display:flex;
	flex-direction:row;
	list-style-type: none;
	font-style:normal;

}

.nav2 {display:flex;
	flex-direction: row;
	justify-content:space-between;
	list-style-type: none;
	align-items: flex-end;
}

.div3 {display:flex;
	background-image: url("photo.jpg");
	height:400px;
	width: auto;
}


ul li a {text-decoration: none;
	color: #444;
	font-weight:bold;
	margin-left:20px;

}

.div5 {display:flex;
	flex-direction: row;
	justify-content: space-between;

}
.photos > div{display: flex;
	align-items: center;
	justify-content: space-between;

	
}
.div5 section:nth-child(1){
	display: flex;
	flex-direction:column;
	justify-content: space-evenly;
	width: 100%;


}
.photos img{
	margin-top:50px;
	margin-left:20px;
}
.photos a{text-decoration-line: none;
	color: #444;

}


.bordure{
	border-top:1px solid #293352;
 	margin-top:50px;
}

.mini1 {display: flex;
	   background-color:rgb(255,255,255);
    height:250px;
    width:300px;
    margin: 30px 20px 30px 30px;
    padding:36px 0px 36px 25px;
    border: 1px solid #E8E7E5;
    border-top:4px solid rgb(245,99,39) ;
}

.mini2 {display: flex;
	   background-color:rgb(255,255,255);
    height:200px;
    width:300px;
    margin: 30px 20px 30px 30px;
    padding:36px 0px 36px 25px;
    margin-top:3px;
    border: 1px solid #E8E7E5;
    border-top:4px solid rgb(245,99,39);
}

 .bloc {border-top:1px solid #293352;
 	margin-top:50px;
 	margin-left:20px;
 	width:100%;
 	border-width:3px;
 	letter-spacing: 2px;
}

.bloc1{border-top:1px solid #293352;
 	margin-top:50px;
 	width:25%;
 	border-width:3px;
 	letter-spacing: 2px;
 	margin-left:20px;
}
.bloc2{border-top:1px solid #293352;
 	margin-top:50px;
 	width:25%;
 	border-width:3px;
 	letter-spacing: 2px;
 	margin-left:20px;
}

#container{display: flex;
	flex-direction: row;
	justify-content: space-between;
	border: 1px solid #E8E7E5;
	height: 200px;
}

.column1,.column2,.column3, .column4,.column5{border-right: 2px solid #E8E7E5;
							width: 20%;
}
.column1 a{display: flex;
	flex-direction: column;
	color:#444;
	text-decoration-line: none;
	padding: 10px;
	font-weight: bold;
	
}

h2 a{text-decoration: none;
color: black;
letter-spacing: 2px;
margin-left: 20px;
}
	

.bloc4{display: flex;
	background-color:black;
	margin: 30px;
	border-top:4px solid rgb(245,99,39);
}
.div4{display: flex;
	flex-direction: column;
	background-color:black;
	height: 300px;
	width: auto;
	border-top:9px solid rgb(245,99,39);
}


.logo{width:200px;
	height: 100PX;
	padding-top: 15px;
	margin-left:20px;
}
.div4 ul{display: flex;
	
	list-style-type: none;
	font-size: 12px;
	margin-left:20px;
}
.div4 li{padding: 10px;
	
}






