*{
	font-family: 'M PLUS Rounded 1c', sans-serif;
	margin:0px;
	padding:0px;
}
body {
	overflow-x: hidden;
}

/* HEADER */
header  {
	margin-bottom: 20px;
}
header .nom-site {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;	
}
header > .row {
	align-items: center;
	padding: 20px 20px 0;
}
header .nav {
	justify-content: center;
}
header img {
	width: 250px;
}
ul {
	list-style-type: none;
}

.background {
	display:flex;
	background-image: url("img/photo.jpg");
	height:400px;
	width: auto;
}
div{
	font-weight: bold;
}

/* elements communs */

a{
	text-decoration: none;
	color:black;
}
.row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.col {
	display: flex;
	flex-direction: column;
}
.ligne {
 	width:100%;
 	border-top:3px solid #293352;
 	margin-top:20px;
 	margin-bottom: 20px;
}


h2 a{
	text-decoration: none;
	color: black;
	letter-spacing: 2px;
	margin-left: 20px;

}
ul li a {
	text-decoration: none;
	color: #444;
	font-weight:bold;
}
ul li {
	margin-left:20px;
}
ul li:first-child {
	margin-left: 0;
}
.element{
	/*display: flex;*/
	width: 30%;
	margin:20px;
	padding: 20px;
	border: 1px solid #E8E7E5;
	border-top: 4px solid rgb(245,99,39);

}
.element img {
	max-width:100%;
}

.content {
	width: 70%;
}
/* ACTUS */
.actus{
	text-align: left;
}
.actus h2{
	width: auto;
	margin-left: 20px;
}
.projets h2{
	margin-left: 20px;
}
/* SIDEBAR */
.sidebar {
    width:30%;
}
.sidebar .mini1 {
	display: flex;
	flex-direction: row;
	background-color:rgb(255,255,255);
    height:150px;
    margin: 20px 0px 30px 0px;
    padding:36px 0px 36px 25px;
    border: 1px solid #E8E7E5;
    border-top:4px solid rgb(245,99,39);
}
/* blocs fin page */
.reseaux-sociaux, .galerie {
	width: 50%;
}
.reseaux-sociaux h2, .galerie h2 {
	margin-bottom: 20px;
}
.reseaux-sociaux .row {
	border: 1px solid #E8E7E5;
	height: 420px;
}
.reseaux-sociaux .col{
	width: 45%;
	margin:10px;
}

.reseaux{
	width: 80%;    
	line-height: 27px;
    margin-bottom: 20px;
}
.fb-page iframe {height: 400px !important;}

.galerie{
}
.galerie .row {
	border: 1px solid #E8E7E5;
	height: 100%;
	flex-wrap: wrap;
	justify-content: flex-start;
}
.galerie .photo {
	width: 20%;
}
.galerie .photo img {
	max-width: 100%;
}

/* FOOTER */
footer > .row {
	background-color:black;
	/*height: 300px;*/
	width: auto;
	border-top:9px solid rgb(245,99,39);
	align-items: center;
	padding: 40px 20px;
}
.logo{
	width:200px;
	padding-top: 15px;
	margin-left:20px;
}
footer ul{
	list-style-type: none;
	font-size: 12px;
	margin-left:20px;
}
footer li{
	padding: 10px;
}
